


{% extends "layout.html" %}
{% block content %}
	

	<article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{movie["request"]}}</a>
              <small class="text-muted"></small>
            </div>
           <!-- <h2><a class="article-title" href="#">{{ movie }}</a></h2> -->
         <!--   <p class="article-content">-->
      <div>
        
        <h5>{{movie["film"]}}</h5>
      <kbd>{{movie["date"]}}</kbd> 
      <kbd>{{movie["quality"]}}</kbd>

      <ul>
      {% for url in movie["urls"] %}
      <li><a href={{url}} target="_blank">{{ url }}</a></li>
      {% endfor %}
    </ul>

  </div>
  


     <!-- </p> -->
      

    

          </div>


		  <div>
			<a href="/del/{{movie["id"]}}">  <ion-icon ios="ios-close" md="md-close"></ion-icon></a>
		  <div>
        </article>
		
	
{% endblock content %}