{% extends "layout.html" %}
{% block content %}

{% for movie in movies %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{movie["request"]}}</a>
      <small class="text-muted"></small>
    </div>
    <!-- <h2><a class="article-title" href="#">{{ movie }}</a></h2> -->
    <!--   <p class="article-content">-->
    <div>

      <h5>{{movie["film"]}}</h5>
      <kbd>{{movie["date"]}}</kbd> 
      <kbd>{{movie["quality"]}}</kbd>

      <!--
      <ul>
      {% for url in movie["urls"] %}
      <li><a href={{url}} target="_blank">{{ url }}</a></li>
      {% endfor %}
    </ul>
    -->

    </div>

    <div align="right">
      {% if movie["listed"] == true %}
      <form action="/details/{{movie["id"]}}" method="get" target="_self">
        <button class="btn btn-success" type="submit">
          <ion-icon size="large" name="checkmark-circle-outline"></ion-icon>
        </button>
      </form>
      {% else %}
      <button type="button" class="btn btn-danger">
        <ion-icon size="large" name="close-circle-outline"></ion-icon>
      </button>

      {% endif %}
    </div>

    <!-- </p> -->




  </div>


  <div>
    <a href="/del/{{movie["id"]}}">
      <ion-icon name="close-outline"></ion-icon>
    </a>
    <div>
</article>

{% endfor %}

{% endblock content %}